:root {
  --second-hue: 219;
  --container-color: hsl(var(--second-hue), 32%, 12%);
}

* {
  background-color: var(--container-color);
}

.App {
  text-align: center;
  color: #fff;
}

.card {
  box-shadow: 2px -1px 7px 3px rgba(0, 0, 0, 0.35);
}

img {
  border-radius: 50%;
}

a {
  text-decoration: none;
}

.click_button {
  background: transparent;
  color: #fff;
  padding: 10px 15px;
  border-color: #fff;
  transition: all 0.4s ease-in-out;
}

.click_button:hover {
  background-color: goldenrod;
  border-color: goldenrod;
}

.github_statistics h1 {
  font-size: 60px;
  font-weight: bold;
}

.github_statistics h1 > span {
  font-size: 20px;
  color: goldenrod;
  margin-right: 10px;
  letter-spacing: 2px;
}

.bio {
  font-weight: 600;
  letter-spacing: 2px;
}

h5 {
  font-size: 25px;
  padding: 10px 0;
}

.repo_btn {
  background: transparent;
  border: 1px solid goldenrod;
  color: white;
  transition: 0.2s ease-in;
}

.repo_btn:hover {
  background-color: goldenrod;
  color: black;
  border-color: goldenrod;
}

@media screen and (max-width: 468px) {
  .github_statistics > h1 {
    font-size: 30px;
  }

  .github_statistics h1 > span {
    font-size: 10px;
  }

  .bio {
    font-size: 15px;
  }

  img {
    width: 60%;
    height: 60%;
  }
}

.loader {
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.loader h1 {
  color: #fff;
  margin-top: 30px;
}
